* {
  margin: 0
}

html, body {
  height: 100%
}

body {
  display: flex;
  background-color: #DDDDDD;
  justify-content: center;
  align-items: center;
}

canvas {
  border: 1px solid black
}

#main {
  display: flex
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#scoreboard {
  display: flex;
  flex-direction: column;
  text-align: center;
}